@font-face {
	font-family: Apercu;
	src:
		url('/fonts/ApercuPro-Regular.woff2') format('woff2'),
		url('/fonts/ApercuPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Apercu;
	src:
		url('/fonts/ApercuPro-Bold.woff2') format('woff2'),
		url('/fonts/ApercuPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Apercu;
	src:
		url('/fonts/ApercuPro-Light.woff2') format('woff2'),
		url('/fonts/ApercuPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
