body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

* {
	font-family: Apercu, sans-serif;
	color: inherit;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}

a:hover {
	color: blue;
}

ul {
	list-style: none;
}

p {
	max-width: 640px;
}
