body {
	--theme-text: black;
	--theme-background: white;
	&[data-theme='dark'] {
		--theme-text: white;
		--theme-background: black;
	}
	background-color: var(--theme-background);
}

* {
	color: var(--theme-text);
}
